<p id="notice"><%= notice %></p>

<p>
  <strong>Url name:</strong>
  <%= @url.url_name %>
</p>

<p>
  <strong>Urlable:</strong>
  <%= @url.urlable %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
